* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Maven Pro', sans-serif;
}

.header {
    color: white;
    margin: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
    border-bottom: 2px solid black;
}

.header-logo {
    height: 60px;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-bar-list {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-bar-item {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
}

.nav-bar-image{
    height:30px;
    width: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.featured-projects {
    margin: 30px;
    min-height: 100vh;
    border-bottom: 2px solid black;
}

.featured-container {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.featured-header {
    font-size: 42px;
}

.project-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-item {
    padding: 10px;
}

.project-image {
    width: 100%;
    overflow: hidden;
}

.project-title {
    font-size: 36px;
    text-align: center;
    margin-top: 8px;
}

.quote-section {
    margin: 30px;
    min-height: 14vh;
    border-bottom: 2px solid black;
}

.quote-header-container {
    padding-top: 18px;
    text-align: center;
}

.quote-header-text {
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 18px;
}

.quote-text-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
}

.quote-text {
    font-size: 18px;
    padding-bottom: 18px;
}

